@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #262626;
}


body {
  background: #ffffff;
  color: var(--foreground);
  font-family: var(--font-outfit), system-ui, -apple-system, sans-serif;
}
.container {
  width: 1120px!important;
  margin: 0 auto;
}