@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #262626;
}


body {
  background: #ffffff;
  color: var(--foreground);
  font-family: var(--font-outfit), system-ui, -apple-system, sans-serif;
}

@layer utilities {
  .container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1120px;
  }
}